<h1>Listing All Articles</h1>

<p><%= link_to "New Article", new_article_path %></p>

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
<% @articles.each do |article| %>
    <tr>
  <td><%= article.title %></td>
  <td><%= truncate(article.description, length: 100) %></td>
  <td><%= link_to "Show", article_path(article), class: "btn btn-sm btn-primary" %></td>
  <td><%= link_to "Edit", edit_article_path(article), class: "btn btn-sm btn-warning" %></td>
  <td>
    <%= link_to "Delete", article_path(article), 
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, 
            class: "btn btn-sm btn-danger" %>
  </td>
</tr>
<% end %>
</table>