<h1 align="center">Welcome to <%= @user.username %>'s Page</h1>

<div class="row justify-content-center mt-3">
    <div class="col-auto">
        <%= gravatar_for @user %>
    </div>
  </div>

<h4 align="center" style="mt-3"><%= @user.username %>'s Articles</h4>

<div class="d-flex justify-content-center mt-4">
  <%= paginate @user_articles %>
</div>
<%= render 'articles/article', obj: @user_articles %>
<div class="d-flex justify-content-center mt-4">
  <%= paginate @user_articles %>
</div>